<div class="recipe_card" id="<%= dom_id recipe %>">
<div>
<p>
  <strong><%= recipe.name %> </strong>
</p>
<p>
  <%= button_to 'Remove', recipe, method: :delete, style: 'color: blue;' %>
</div>
<div>
<p>
  <strong><%= recipe.description %> </strong>
</p>
</div>

</div>
