<div>
  <p class="current-user">logged as : <%= @user.name%></p>
  <div class="main-menu">
    <div class="main-menu-item">
      <h3>Add food items</h3>
      <h3><%= link_to "Food Items", new_food_path(user_id:@user.id) %></h3>
    </div>
    <div class="main-menu-item">
      <h3>View your Recipes</h3>
      <h3><%= link_to "Recipes", recipes_path(user_id:@user.id) %></h3>
    </div>
    
    <div class="main-menu-item">
      <h3>Create New Recipe</h3>
      <h3><%= link_to "New Recipe", new_recipe_path(user_id:@user.id) %></h3>
    </div>

  </div>
</div>